@using Microsoft.AspNetCore.Identity
@using TerranForum.Domain.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item align-items-center d-none d-md-flex user-select-none">
        <a class="nav-link d-flex" asp-controller="Forum" asp-action="Create">
            <span class="material-symbols-outlined align-self-center">
                add
            </span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a id="manage" class="nav-link user-select-none" title="@UserManager.GetUserName(User)" data-bs-toggle="dropdown" role="button" aria-haspopup="true">
            @{
                ApplicationUser user = await UserManager.GetUserAsync(User);
                if (user != null)
                {
                    <img width="32" height="32" src="@Url.Content($"~/{user.ProfileImageUrl}")" alt="@UserManager.GetUserName(User)" />
                }
            }
        </a>
        <div class="dropdown-menu dropdown-menu-end position-absolute">
            <a asp-controller="Profile"
            asp-action="ViewProfile"
            asp-route-userName="@UserManager.GetUserName(User)"
            class="dropdown-item">My Profile</a>

            <a asp-area="Identity"
            asp-page="/Account/Manage/Index"
            class="dropdown-item mb-2">Settings</a>
            @*
            @if (User.IsInRole("Admin"))
            {
                <li role="separator" class="dropdown-divider"></li>
                <li class="dropdown-header">Admin</li>
                <li><a asp-controller="Forum" asp-action="Create" class="dropdown-item">Create Forum</a></li>
                <li><a asp-controller="Profile" asp-action="Index" class="dropdown-item">View Users</a></li>
            }
            *@
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("All", "Forum", new { area = "" })">
                <button id="logout" type="submit" class="dropdown-item">Logout</button>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
