@model ForumViewModel

<div class="row mb-3">
    <div class="col-md-1 pe-0 ms-4">
        <div>@Model.Rating Rating</div>
    </div>
    <div class="col-md-9 ps-0">
        <h3 class="thread-title">
            <a class="forum-title mb-0 pl-0" asp-controller="Forum"
               asp-action="ViewThread" asp-route-forumId="@Model.Id">
                @Model.Title
            </a>
        </h3>
        <div class="text-justify">@Model.Content</div>
        <div class="d-flex flex-row-reverse">
            <div class="p-2">@Model.CreatorUserName</div>
        </div>
    </div>
</div>
<hr />