@using TerranForum.Models;
@using TerranForum.Domain.Models;
@using Microsoft.AspNetCore.Identity;
@model ForumThreadViewModel

@inject SignInManager<ApplicationUser> SignInManager;

@{
    Post masterPost = Model.Posts.First();
    IEnumerable<Post> answers = Model.Posts.Skip(1);
}

<div class="container">
    <h3>@Model.Title</h3>
    <hr />

    <div class="container pb-4">
        <div class="container">
            @foreach (var paragraph in masterPost.Content.Split("\r\n\r\n"))
            {
                <p>@paragraph</p>
            }
            <div class="container-fluid">
                <div class="d-flex justify-content-end">
                    @masterPost.User.UserName
                </div>
            </div>,
            <div class="container">
                @foreach (var reply in masterPost.Replies)
                {
                    <div class="container">
                        <p>@reply.Content</p>
                    </div>
                }
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="nav-link" id="addReply">Add Reply</a>
                }
                else
                {
                    <a class="nav-link" id="addReply" asp-area="Identity" asp-page="/Account/Login">Add Reply</a>
                }

                <div class="container invisible">
                    <input type="text"/>
                </div>
            </div>
        </div>

        <div>
            <h5>Replies: @answers.Count()</h5>
            @foreach (var post in answers)
            {
                <div class="container pt-4">
                    @foreach (var paragraph in post.Content.Split("\r\n\r\n"))
                    {
                        <p>@paragraph</p>
                    }

                    <div class="container-fluid">
                        <div class="d-flex justify-content-end">
                            @masterPost.User.UserName
                        </div>
                    </div>
                </div>
                <hr class="mt-1"/>
            }
        </div>
    </div>
</div>
